<div class="col mb-1">
    <div class="card h-80">
        <div class="card-body">
            <p class="fs-sm">Qty: {{ quantity }}</p>
            <img src="../images/items/{{ image }}" class="card-img-top" alt="{{ name }}">
            <a href="/item" id="itemPage">
                <h5 class="card-title">{{ name }}</h5>
            </a>
            <h6 class="card-subtitle text-muted">{{ category }}</h6>
        </div>
        <div class="card-footer d-flex justify-content-center align-items-center">
            <a class="btn ripple" href="#" role="button" onclick="alert('Item has been added to favorites!');"><i
                    class='fas fa-heart'></i></a>
            <a class="btn ripple" href="#" role="button" onclick="alert('Item has been added to shopping list!')"><i
                    class="fa fa-cart-plus"></i></a>
            <a class="btn ripple" href="#" role="button"><i class="fa fa-trash"></i></a>
        </div>
    </div>
</div>